#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.name {
  text-align: left;
  cursor: pointer;
}

/* Utilities */
.d-flex {
  display: flex;
  flex-basis: 100%;
}

.d-flex.justify-content-between {
  justify-content: space-between;
}