:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

dialog div {
  margin-bottom: 1rem;
}

dialog div:last-of-type {
  margin-bottom: unset;
}

dialog button {
  width: 100%;
}

dialog p {
  font-weight: bold;
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th {
  border-bottom: 1px solid black;
}

.diamond-container {
  padding: 20px;
  margin-bottom: 2rem;
}

.diamond {
  height: 120px;
  width: 120px;
  background-color: green;
  border: 1px solid black;
  margin: auto;
  rotate: 45deg;
}

.actions {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 1rem;
}

.at-bat {
  background-color: yellow;
}

.base {
  height: 16px;
  width: 16px;
  position: absolute;
}

.home {
  bottom: 0;
  right: 0;
}

.first {
  right: 0;
}

.third {
  bottom: 0;
}

.empty {
  background-color: white;
}

.taken {
  background-color: yellow;
  cursor: pointer;
}

.taken:hover {
  transform: scale(1.1);
}

.result {
  font-weight: bold;
  font-size: 1.5rem;
}